<div class="p-col-12 p-text-center">
  <h1 class="p-text-sonatelgreen"> Modification du mot de passe </h1>
</div>

<div class="p-col-12 p-field p-mt-4 p-grid p-jc-center">

  <!-- Ancien mot de passe -->
  <div class="p-col-7 p-my-4">
    <span class="p-float-label">
      <input pInputText class="form-control" [(ngModel)]="prevpass" formControlName="prevpass" type="password" name="prevpass">
      <label>Ancien mot de passe</label>
    </span>
  </div>

  <!-- Nouveau mot de passe -->
  <div class="p-col-7 p-my-4">
    <span class="p-float-label">
      <input pInputText class="form-control" [(ngModel)]="newpass" formControlName="newpass" type="password" name="newpass">
      <label>Nouveau mot de passe</label>
    </span>
  </div>

  <!-- Confirmer mot de passe -->
  <div class="p-col-7 p-my-4">
    <span class="p-float-label">
      <input pInputText class="form-control" formControlName="confpass" type="password" name="confpass">
      <label>Confirmer mot de passe</label>
    </span>
  </div>

  <!-- Bouton de modification et d'annulation -->
  <div class="p-col-7 p-my-4 p-d-flex p-jc-between" style="height: 50px">
    <button pButton pRipple icon="pi pi-plus" label="Enregistrer" (click)="submit()" class="p-col-3 p-button-text p-button-raised"></button>
    <button pButton pRipple icon="pi pi-times" routerLink="/home/user/{{id}}" label="Annuler" class="p-col-3 p-button-text p-button-warning p-button-raised"></button>
  </div>

</div>
