<p-table style="width: 40%; float: left" class="p-grid p-shadow-5" [value]="competences.niveau">
  <ng-template pTemplate="header">
    <tr>
      <th style="color: #008e8e">Levels</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-niveau>
    <tr>
      <td>{{niveau.level}}</td>
    </tr>
  </ng-template>
</p-table>

<p-card class="p-grid p-fluid p-ml-3" style="float: left; color: #008e8e">
  <p-header class="p-text-sonatelgreen p-m-3" style="font-size: 20px">
    <b>Description</b>
  </p-header>
  <p>{{competences.description}}</p>
</p-card>
