<div class="p-field p-col-12 p-md-12">
  <h1 class="p-text-sonatelgreen p-text-center">Liste des profils de sortie</h1>
</div>

<div class="container p-text-center">

  <p-table [scrollable]="true" scrollHeight="340px" [value]="profilsSortie" id="excel-table" class="p-shadow-8 p-grid p-mb-5 p-mt-6" dataKey="id">
    <ng-template pTemplate="header">
      <tr style="font-size: 25px">
        <th class="p-text-center" style="color: #008e8e">Libelle</th>
        <th class="p-text-center" style="color: #008e8e">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-products1>
      <tr>
        <td class="p-text-center" pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="products1.libelle" id="input{{products1.id}}" (keydown.enter)="updateProfilSortie(products1)">
            </ng-template>
            <ng-template pTemplate="output">
              {{products1.libelle}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td class="p-text-center">
          <button pButton pRipple icon="pi pi-user" label="User" routerLink="/home/profils-sortie/{{products1.id}}/users" class="p-button-text p-button-raised p-button-sonatelgreen p-mr-3"></button>
          <button pButton pRipple icon="pi pi-trash" label="Delete" (click)="deleteProfilSortie(products1.id)" class="p-button-raised p-button-text p-button-danger"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="p-d-flex p-pt-2 p-pb-2 p-pl-3">
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="Save as Excel file" tooltipPosition="right"></button>
      </div>
    </ng-template>
  </p-table>

  <router-outlet></router-outlet>

</div>
