body {
  height: 640px;
  width: 100%;
}

.main-content {
  width: 50%;
  height: 50%;
}

.logo {
  float: left;
  width: 35%;
  height: 100%;
  background: #008e8e;
}

.login_form {
  height: 100%;
}

.login {
  width: 100%;
  height: 50%;
}

.input {
  width: 75%;
}

.button {
  width: 30%;
}

