<div class="p-d-flex p-formgrid p-jc-center p-grid">

  <div class="p-field p-col-12 p-text-center p-text-sonatelgreen">
    <h1> Ajout compétence </h1>
  </div>

    <!-- Groupe Competence -->
    <div class="p-field p-col-12 p-mt-2">
      <p-multiSelect [options]="grpComp" [(ngModel)]="grpComps" defaultLabel="Groupe de Competence" optionValue="@id" optionLabel="libelle" display="chip"></p-multiSelect>
    </div>

    <!-- Nom Competence -->
    <div class="p-field p-col-12 p-jc-center p-mt-2 p-grid" style="width: 100%">
      <span class="p-float-label" style="width: 100%">
        <input id="nomCompetence" [(ngModel)]="comp.nomCompetence" type="text" style="width: 70%" pInputText>
        <label for="nomCompetence">Competence name</label>
      </span>
    </div>

    <!-- Description -->
    <div class="p-field p-col-12 p-grid p-mt-2 p-jc-center" style="width: 100%">
      <span class="p-float-label" style="width: 100%">
        <textarea id="description" [(ngModel)]="comp.description" type="text" rows="2" style="width: 70%" pInputTextarea></textarea>
        <label for="description">Description</label>
      </span>
    </div>

    <!-- Niveau -->
    <div class="p-field p-col-12 p-grid p-jc-between ">

      <div class="p-col-4">
        <h4 class="p-text-center p-text-sonatelgreen">Level 1</h4>
        <p-divider></p-divider>
        <span class="p-float-label p-mb-4 p-mt-4">
          <textarea pInputTextarea [(ngModel)]="comp.niveau[0].admission" style="width: 100%"></textarea>
          <label>Critere d'Admission</label>
        </span>
        <span class="p-float-label">
          <textarea pInputTextarea [(ngModel)]="comp.niveau[0].evaluation" style="width: 100%"></textarea>
          <label>Critere d'evaluation</label>
        </span>
      </div>

      <div class="p-col-4">
        <h4 class="p-text-center p-text-sonatelgreen">Level 2</h4>
        <p-divider></p-divider>
        <span class="p-float-label p-mb-4 p-mt-4">
          <textarea pInputTextarea [(ngModel)]="comp.niveau[1].admission" style="width: 100%"></textarea>
          <label>Critere d'Admission</label>
        </span>
        <span class="p-float-label">
          <textarea pInputTextarea [(ngModel)]="comp.niveau[1].evaluation" style="width: 100%"></textarea>
          <label>Critere d'evaluation</label>
        </span>
      </div>

      <div class="p-col-4">
        <h4 class="p-text-center p-text-sonatelgreen">Level 3</h4>
        <p-divider></p-divider>
        <span class="p-float-label p-mb-4 p-mt-4">
          <textarea pInputTextarea [(ngModel)]="comp.niveau[2].admission" style="width: 100%"></textarea>
          <label>Critere d'Admission</label>
        </span>
        <span class="p-float-label">
          <textarea pInputTextarea [(ngModel)]="comp.niveau[2].evaluation" style="width: 100%"></textarea>
          <label>Critere d'evaluation</label>
        </span>
      </div>

    </div>

    <!-- Submit Button -->
    <div class="p-col-12 p-text-center">
      <button pButton pRipple icon="pi pi-plus" (click)="edit()" label="Create" class="p-button-sonatelgreen p-button-text p-button-raised"></button>
    </div>

</div>
