<div class="">

  <router-outlet></router-outlet>

  <div class="p-field p-col-12 p-md-12">
    <h1 class="p-text-sonatelgreen p-text-center">Liste des utiisateurs archivés</h1>
  </div>

  <div class="p-col-12 p-text-right">
    <button pButton pRipple label="Retour à la liste" routerLink="/home/users" class="p-mb-4 p-button-danger p-button-raised p-button-text"></button>
  </div>

  <p-table id="excel-table" sortMode="multiple" [paginator]="true" [rows]="4" class="p-shadow-8 p-grid p-mb-6" dataKey="id" >

    <ng-template pTemplate="header">
      <tr>
        <th pTooltip="Filtrer par le Prénom" tooltipPosition="top" pSortableColumn="firstname" class="p-text-center" style="color: #008e8e">Prénom <p-sortIcon field="firstname"></p-sortIcon></th>
        <th pTooltip="Filtrer par le Nom" tooltipPosition="top" pSortableColumn="lastname" class="p-text-center" style="color: #008e8e">Nom <p-sortIcon field="lastname"></p-sortIcon></th>
        <th pTooltip="Filtrer par l'Email" tooltipPosition="top" pSortableColumn="email" class="p-text-center" style="color: #008e8e">Email <p-sortIcon field="email"></p-sortIcon></th>
        <th pTooltip="Filtrer par l'Adresse" tooltipPosition="top" pSortableColumn="address" class="p-text-center" style="color: #008e8e">Address <p-sortIcon field="address"></p-sortIcon></th>
        <th class="p-text-center" style="color: #008e8e">Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td class="p-text-center p-text-capitalize"> {{ user.firstname }} </td>
        <td class="p-text-center p-text-uppercase"> {{ user.lastname }} </td>
        <td class="p-text-center p-text-lowercase"> {{ user.email }} </td>
        <td class="p-text-center"> {{ user.address }} </td>
        <td class="p-text-center">
          <button pButton pRipple type="button" label="Details" class="p-button-text p-button-sonatelgreen p-button-raised" routerLink="/home/users/{{user.id}}"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <!--<button pButton pRipple icon="pi pi-refresh" (click)="reset()" class="p-button-text p-button-raised p-button-sonatelgreen p-mr-4" pTooltip="Retour à la première page" tooltipPosition="bottom"></button>
      <button pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class=" p-mr-3" pTooltip="Télécharger en format Excel" tooltipPosition="right"></button>-->
    </ng-template>
    <ng-template pTemplate="paginatorright"></ng-template>
  </p-table>

</div>

