<div class="mb-4 w-100 bg-danger header">
  <div class="w-25 user bg-primary h-100">Bonjour</div>
  <div class="w-25 deco bg-secondary d-flex justify-content-center">
    <button mat-raised-button class="btn btn-outline-sonatelgreen m-3">Déconnexion</button>
  </div>
</div>

<div class="container d-flex mt-5">
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs w-100 bg-white rounded mat-elevation-z4">
    <mat-tab label="Profil"> <app-profil></app-profil> </mat-tab>
    <mat-tab label="Users"> Content 2 </mat-tab>
  </mat-tab-group>
</div>
